
{% block stylesheet %}
    <link rel="shortcut icon" href="{{ asset('assets/img/ico/favicon.png') }}">

    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ asset('assets/img/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ asset('assets/img/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ asset('assets/img/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/img/ico/apple-touch-icon-57-precomposed.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,500,600,700|Ubuntu:300,400,500,700"
          rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/fonts/font-awesome/css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/menuzord/css/menuzord.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/fonts/flaticon/font/flaticon.css') }}">

    <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('style.css') }}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/revolution/css/settings.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/revolution/css/layers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/revolution/css/navigation.css') }}">
{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="tab-content">
<div class="tab-pane" id="h_tab_two">
    <div class="appointment-form-wrapper row">

        <form action="{{ path("fos_user_security_check") }}" method="post" name="appointment-form" >
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="col-md-6">
                <div class="input-field mb-30">
                    <span class="form-desc">Login* </span>
                    <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" class="form-control" name="_username" value="" required="required" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field mb-30">
                    <span class="form-desc">Mot de passe* </span>
                    <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" class="form-control" name="_password"  required="required" />

                </div>
                <div class="col-md-6">
                    <input type="checkbox" id="remember_me" name="_remember_me" >
                    <label for="remember" >se souvenir de moi</label>
                </div>
                <div class="col-md-6">
                    <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"  class="next"> Login </button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>