<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from trendytheme.net/demo/healthnor/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 Jan 2018 22:58:32 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/><!-- /Added by HTTrack -->
<!-- head -->
{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Healthnor is a health and medical oriented HTML template">
    <meta name="keywords"
          content="beauty, clean, clinic, dental, dentist, doctor, health, health care, hospital, medical, medical theme, medicine">
    <meta name="author" content="trendytheme.net">
    <title>Healthnor</title>

    <link rel="shortcut icon" href="{{ asset('assets/img/ico/favicon.png') }}">

    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ asset('assets/img/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ asset('assets/img/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ asset('assets/img/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/img/ico/apple-touch-icon-57-precomposed.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,500,600,700|Ubuntu:300,400,500,700"
          rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/fonts/font-awesome/css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/menuzord/css/menuzord.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/fonts/flaticon/font/flaticon.css') }}">

    <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('style.css') }}" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{{ asset('assets/revolution/css/settings.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/revolution/css/layers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/revolution/css/navigation.css') }}">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

{% endblock %}
<!-- End head -->

<body>

<div class="topbar">
    <div class="container">
        <ul class="top-bar-cta list-inline">
            <li class="mr-20">
                <a href="#"><i class="fa fa-phone-square"></i>(+216)96296232</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-envelope-square"></i><span> healthline@gmail.com  </span></a>
            </li>
        </ul>
        <ul class="social-top list-inline text-right">
            <li>
                <a href="#" class="facebook"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            </li>
            <li class="topbar-appertment-btn">
                <a href= "{{ path('fos_user_security_login') }}">Login</a>
            </li>
            <li class="topbar-appertment-btn">
                <a href= "{{ path('fos_user_registration_register') }}">Sign up</a>
            </li>
        </ul>
    </div>
</div>

<header class="main-navigation header-sticky">
    <div class="container">
        <div class="menuzord">
            <a href="{{ path('sdg_homepage') }}" class="menuzord-brand logo-brand">
                <img src="{{ asset('assets/img/logo-top.png') }}" alt="">
            </a>
            <ul class="menu-border menuzord-menu menuzord-right">
                <li class="active"><a href="{{ path('sdg_homepage') }}">Qui sommes nous ?</a>

                </li>
                <li><a href="{{ path('sdg_homepage') }}">Acceuil</a>

                </li>
                <li><a href="javascript:void(0)">Spécialités</a>
                    <ul class="dropdown">


                        <li><a href="{{ path ('list_article' ,{'specialite': 'Médecine générale' } ) }}"> Médecine générale </a></li>
                        <li><a href="{{ path ('list_article' ,{'specialite': 'Dérmatologie' } ) }}"> Dérmatologie </a></li>
                        <li><a href="{{ path ('list_article' ,{'specialite': 'Endocrinologie' } ) }}"> Endocrinologie</a></li>
                        <li><a href="{{ path ('list_article' ,{'specialite': 'Gastro-Entérologie' } ) }}"> Gastro-Entérologie</a></li>
                        <li><a href="{{ path ('list_article' ,{'specialite': 'gynécologie' } ) }}">gynécologie </a></li>
                        <li><a href="{{ path ('list_article' ,{'specialite': 'ophtalmologie' } ) }}">ophtalmologie </a></li>
                        <li><a href="{{ path ('list_article' ,{'specialite': 'pédiatrie' } ) }}">pédiatrie </a></li>

                    </ul>
                </li>
                <li><a href="{{ path('list_medecin') }}">Nos Médecins</a>

                </li>
                <li><a href="javascript:void(0)">Evenements</a>

                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</header>

<section class="rev_slider_wrapper">
    <div class="rev_slider healthnor-slider">
        <ul>

            <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut" data-masterspeed="2000"
                data-thumb="{{ asset('assets/img/slider-img/hero-1.jpg') }}" data-rotate="0" data-fstransition="fade"
                data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Matrox Material"
                data-description="">

                <img src="{{ asset('assets/img/slider-img/hero-1.jpg') }}" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
                     data-no-retina>

                <div class="tp-caption rev-heading tp-resizeme" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="['center','center','center','center']"
                     data-voffset="['-150', '-150', '-170', '-170']" data-fontsize="['56','56','56','40']"
                     data-lineheight="['60','60','60','50']" data-width="none" data-height="none"
                     data-whitespace="nowrap" data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-family: 'Ubuntu'; font-weight: 700">Vous êtes un
                    Docteur </br>
                    ou une Association ? </br>
                </div>

                <div class="tp-caption rev-heading tp-resizeme" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="center" data-voffset="['-75', '-75', '-110', '-120']"
                     data-fontsize="['56','56','56','40']" data-lineheight="['60','60','60','50']" data-width="none"
                     data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-family: 'Ubuntu'; font-weight: 700; color:#00baff">
                    Rejoignez-Nous!
                </div>

                <div class="tp-caption tp-resizeme rev-subheading" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="center" data-voffset="['0', '0', '-20', '-30']"
                     data-fontsize="['16','16','20','18']" data-width="['600','600','500','400']"
                     data-whitespace="normal" data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: normal;">
                </div>

                <div class="tp-caption tp-resizeme rev-btn" data-x="['left','left','center','center']"
                     data-hoffset="['50','120','0','0']" data-y="['middle','middle','middle','middle']"
                     data-voffset="['90','90','90','80']" data-width="none" data-height="none" data-whitespace="nowrap"
                     data-transform_idle="o:1;" data-style_hover="cursor:default;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1200" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on"
                     style="z-index: 7; white-space: nowrap; padding: 2px 20px; text-transform: uppercase; letter-spacing: 1px; font-family:'Ubuntu'; font-size: 15px; background:#00baff; border-radius: 3px;">
                    <a href="appointment.html">Sign up</a>
                </div>
            </li>


            <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="assets/img/slider-img/hero-3.jpg"
                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                data-saveperformance="off" data-title="Matrox Material" data-description="">

                <img src="{{ asset('assets/img/slider-img/hero-3.jpg') }}" alt="" data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <div class="tp-caption rev-heading tp-resizeme" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="center"
                     data-voffset="['-150', '-150', '-170', '-170']" data-fontsize="['56','56','56','40']"
                     data-lineheight="['60','60','60','50']" data-width="none" data-height="none"
                     data-whitespace="nowrap" data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-family: 'Ubuntu'; font-weight: 700"> Savoir plus a propos votre

                </div>

                <div class="tp-caption rev-heading tp-resizeme" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="center" data-voffset="['-75', '-75', '-110', '-120']"
                     data-fontsize="['56','56','56','40']" data-lineheight="['60','60','60','50']" data-width="none"
                     data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-family: 'Ubuntu'; font-weight: 700">A <span
                            style="color:#00baff">Santé</span>
                </div>

                <div class="tp-caption tp-resizeme rev-subheading" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="center" data-voffset="['0', '0', '-20', '-30']"
                     data-fontsize="['16','16','20','18']" data-width="['600','600','500','400']"
                     data-whitespace="normal" data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: normal;">.
                </div>

                <div class="tp-caption tp-resizeme rev-btn" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="['middle','middle','middle','middle']"
                     data-voffset="['90','90','90','80']" data-width="none" data-height="none" data-whitespace="nowrap"
                     data-transform_idle="o:1;" data-style_hover="cursor:default;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1200" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on"
                     style="z-index: 7; white-space: nowrap; padding: 2px 20px; text-transform: uppercase; letter-spacing: 1px; font-family:'Ubuntu'; font-size: 15px; background:#00baff; border-radius: 3px;">
                    <a href="appointment.html">Consultez nos articles </a>
                </div>
            </li>


            <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="assets/img/slider-img/hero-4.jpg"
                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                data-saveperformance="off" data-title="Matrox Material" data-description="">

                <img src="{{ asset('assets/img/slider-img/hero-4.jpg') }}" alt="" data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <div class="tp-caption rev-heading tp-resizeme" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="center"
                     data-voffset="['-150', '-150', '-170', '-170']" data-fontsize="['56','56','56','40']"
                     data-lineheight="['60','60','60','50']" data-width="none" data-height="none"
                     data-whitespace="nowrap" data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-family: 'Ubuntu'; font-weight: 700">Vous avez besoin
                </div>

                <div class="tp-caption rev-heading tp-resizeme" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="center" data-voffset="['-75', '-75', '-110', '-120']"
                     data-fontsize="['56','56','56','40']" data-lineheight="['60','60','60','50']" data-width="none"
                     data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-family: 'Ubuntu'; font-weight: 700"><span
                            style="z-index: 5; white-space: nowrap; font-family: 'Ubuntu'; font-weight: 700">d'un medecin ?</span>
                </div>

                <div class="tp-caption tp-resizeme rev-subheading" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="center" data-voffset="['0', '0', '-20', '-30']"
                     data-fontsize="['16','16','20','18']" data-width="['600','600','500','400']"
                     data-whitespace="normal" data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: normal;">
                </div>

                <div class="tp-caption tp-resizeme rev-btn" data-x="['left','left','center','center']"
                     data-hoffset="['50','120', '0', '0']" data-y="['middle','middle','middle','middle']"
                     data-voffset="['90','90','90','80']" data-width="none" data-height="none" data-whitespace="nowrap"
                     data-transform_idle="o:1;" data-style_hover="cursor:default;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1200" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on"
                     style="z-index: 7; white-space: nowrap; padding: 2px 20px; text-transform: uppercase; letter-spacing: 1px; font-family:'Ubuntu'; font-size: 15px; background:#00baff; border-radius: 3px;">
                    <a href="appointment.html">Choisissez un de nos Medecins</a>
                </div>
            </li>

        </ul>
    </div>
</section>

<section class="professionalism-section pdt-100 pdb-70">
    <div class="container">
        <div class="section-wapper text-center">
            <h2 class="section-title">Nous croyons au professionnalisme</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-40">
                <div class="featured-item icon-left">
                    <div class="icon">
                        <i class="flaticon-surgeon"></i>
                    </div>
                    <div class="des">
                        <h3 class="des-title">
                            Les meilleurs médecins</h3>
                        <p> Des médecins confirmés par l'état sont a votre disposition pour toutes questions </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-40">
                <div class="featured-item icon-left">
                    <div class="icon">
                        <i class="flaticon-medical-3"></i>
                    </div>
                    <div class="des">
                        <h3 class="des-title">  articless de santés  </h3>
                        <p>A travers des Articles vérifiés, vos questions deviendrons des réponses </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-40">
                <div class="featured-item icon-left">
                    <div class="icon">
                        <i class="flaticon-man"></i>
                    </div>
                    <div class="des">
                        <h3 class="des-title">Etre a Jour</h3>
                        <p>A travers les associations et leurs évenements, vous serez a jour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pdt-100 pdb-70 testimonial-section">
    <div class="container">
        <div class="section-wapper text-center">
            <h2 class="section-title">
                Ce que notre client a dit</h2>
            <p class="section-sub">  </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-30">
                <div class="testimonial-wrapper">
                    <div class="content">
                        <p>vos articles publiés sont trés riche, j'ai bien connus ma maladie a travers l'article de un de vos docteur que je viens de faire un rendez_vous avec lui</p>
                        <div class="testimonial-meta">
                            <h3>Mohsen ben Abdallah</h3>
                            <span>ingénieur</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-30">
                <div class="testimonial-wrapper">
                    <div class="content">
                        <p>j'ai remarqué que votre site est vraiment trés utile et efficace</p>
                        <div class="testimonial-meta">
                            <h3>Omar Ferouk</h3>
                            <span>Businessman</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-30">
                <div class="testimonial-wrapper">
                    <div class="content">
                        <p>J'ai remarque que tous les médecins sont trés compréhensible a propos ma maladies et il ya seux qui mon aider a travers des consultations gratuites </p>
                        <div class="testimonial-meta">
                            <h3>Nayen Ahmed</h3>
                            <span>chommeur</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% block content %}

{% endblock %}
<footer class="footer pdt-100">
    <div class="container">

        <div class="footer-top">
            <div class="row">
                <div class="col-md-4 mb-30">
                    <div class="widget about-widget">
                        <h3 class="widget-title mb-20">About healthline</h3>
                        <p>Rapidiously reintermediate seamless customer service via installed base outsourcing. Competently exploit prospective leadership skills via corporate e-services. Assertively synergize resource maximizing relationships vis-a-vis.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-30">
                    <div class="widget meta-widget">
                        <h3 class="widget-title mb-20">Meet Us</h3>
                        <ul class="list-inline">
                            <li><a href="appointment.html">Appointment</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                            <li><a href="department.html">Departments</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="doctors-4-column.html">Doctors</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="stuffs-page.html">Staffs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mb-30">
                    <div class="widget newsletter-widget">
                        <h3 class="widget-title">NEWSLETTER SIGNUP</h3>
                        <p>Subscribe to get the latest news, update and offer information. Don't worry, we won't send spam!</p>
                        <form class="subscribe-form mailchimp" method="post">
                            <div class="clearfix">
                                <div class="input-field">
                                    <label class="sr-only" for="email">Email</label>
                                    <input id="subscribeEmail" type="email" name="subscribeEmail" class="validate form-control newsletter" placeholder="Your Email Please!">
                                </div>
                                <button type="submit"><i class="fa fa-arrow-circle-right"></i></button>
                            </div>

                            <p class="subscription-success"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-call-to-action pdt-40 pdb-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-call-element">
                            <div class="footer-call-icon">
                                <img src="assets/img/icon/emergency-call.svg" alt="">
                            </div>
                            <div class="footer-call-desc">
                                <span>EMERGENCY</span>
                                <h4>(0) 1234 567 890, (1) 1234 567 890</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-call-element">
                            <div class="footer-call-icon">
                                <img src="assets/img/icon/placeholder.svg" alt="">
                            </div>
                            <div class="footer-call-desc">
                                <span>address</span>
                                <h4>E104, Hill Street 2, watson road, Chicago,il</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="copyright text-center pdt-30 pdb-30">
                <p>Copyright 2017. All Rights Reserved by <a href="https://trendytheme.net/" target="_blank">Trendytheme</a></p>
            </div>
        </div>
    </div>
</footer>
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<script data-cfasync="false"
        src="{{ asset('cdn-cgi/scripts/af2821b0/cloudflare-static/email-decode.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery-2.1.3.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.inview.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.sticky.min.js') }}"></script>
<script src="{{ asset('assets/js/imagesloaded.js') }}"></script>
<script src="{{ asset('assets/js/equalheight.js') }}"></script>
<script src="{{ asset('assets/menuzord/js/menuzord.js') }}"></script>
<script src="{{ asset('assets/js/jquery.bootstrap.wizard.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('assets/js/parallax.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap-tabcollapse.min.js') }}"></script>
<script src="{{ asset('assets/js/ajaxchimp.js') }}"></script>
<script src="{{ asset('assets/js/ajaxchimp-config.js') }}"></script>
<script src="{{ asset('assets/js/ajaxchimp.js') }}"></script>
<script src="{{ asset('assets/js/ajaxchimp-config.js') }}"></script>
<script src="{{ asset('assets/js/scripts.js') }}"></script>

<script src="{{ asset('assets/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ asset('assets/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(".healthnor-slider").revolution({
            sliderType: "standard",
            sliderLayout: "fullscreen",
            delay: 9000,
            navigation: {
                keyboardNavigation: "on",
                keyboard_direction: "horizontal",
                mouseScrollNavigation: "off",
                onHoverStop: "off",
                touch: {
                    touchenabled: "on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                },
                arrows: {
                    style: "gyges",
                    enable: true,
                    hide_onmobile: false,
                    hide_onleave: true,
                    tmp: '',
                    left: {
                        h_align: "left",
                        v_align: "center",
                        h_offset: 10,
                        v_offset: 0
                    },
                    right: {
                        h_align: "right",
                        v_align: "center",
                        h_offset: 10,
                        v_offset: 0
                    }
                }
            },
            responsiveLevels: [1240, 1024, 778, 480],
            gridwidth: [1240, 1024, 778, 480],
            gridheight: [700, 600, 500, 500],
            disableProgressBar: "on",
            parallax: {
                type: "mouse",
                origo: "slidercenter",
                speed: 2000,
                levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
            }

        });
    });
</script>

<script type="text/javascript"
        src="{{ asset('assets/revolution/js/extensions/revolution.extension.video.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/revolution/js/extensions/revolution.extension.actions.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/revolution/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/revolution/js/extensions/revolution.extension.migration.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/revolution/js/extensions/revolution.extension.parallax.min.js') }}"></script>



<!-- Mirrored from trendytheme.net/demo/healthnor/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 Jan 2018 22:58:56 GMT -->
